@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Quicksand:100,200,300,400|Pacifico:400");

/* Reset default margin, padding, and border for all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set margin and font styles for the entire body */
body {
  margin: 20px 20px;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: #444444;
}

/* Style the header with a bottom border and padding */
header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/* Define font styles for heading elements */
h2,
h3,
h4,
h5 {
  font-family: Oswald, sans-serif;
  color: #555555;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

/* Header container with flex layout */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-item {
  margin-left: 50px;
}

#slogan {
  font-family: Pacifico, sans-serif;
  font-size: 2.1em;
  font-style: italic;
  font-weight: 400;
  color: #808080;
}

.navigation {
  font-family: Oswald;
  font-size: 1.6em;
  font-weight: 400;
  color: #a68370;
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}

.navigation li {
  margin: 0 25px 0 25px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  color: #f9a55a;
  font-weight: 500;
}

.active {
  color: #f9a55a;
  font-weight: 500;
}

/* Index page */
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0px;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  max-width: 100%;
}

/* Shop page */
.flex-baguett {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.flex-img-baguett {
  width: 50%;
}

.flex-img-baguett img {
  width: 100%;
  height: auto;
}

.flex-txt-baguett {
  width: 50%;
  padding: 20px;
  font-size: 1.2em;
}

.flex-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.flex-cards>* {
  width: 100%;
  margin: 2px;
}

/* Contact page */
.flex-txt-team {
  width: 50%;
  padding: 20px;
  font-size: 1.4em;
}

/* Custom styles for the button */
.custom-btn {
  background-color: #a68370;
  color: #ffffff;
  border-color: #a68370;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Change the background color, the text and the border color on hover */
.custom-btn:hover {
  background-color: #f9a55a;
  color: #ffffff;
  border-color: #f9a55a;
}

/* Article pages */
article {
  /* color: #444444; */
  max-width: 900px;
  margin: 0 auto;
}

.return-link {
  font-family: Oswald;
  font-size: 1em;
  font-weight: 500;
  color: #a68370;
  border-bottom: 1px solid #a68370;
  text-decoration: none;
  white-space: nowrap;
}

.return-link:hover {
  color: #f9a55a;
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 900px;
  margin: 20px auto 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Form-book page  */
.form-check {
  max-width: 250px;
  margin-bottom: 10px;
}


.response-text {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  color: #444444;
}

.footer-logo img {
  height: 100px;
}

.footer-address p {
  margin-bottom: 8px;
}

.footer-copyright {
  color: #6c757d;
}

.social-icons a {
  color: #495057;
  margin-right: 15px;
}

.social-icons a .fab {
  font-size: 1.7em;
  vertical-align: middle;
}

.social-icons a:hover {
  color: #007bff;
}

/* Media queries for responsive design */
@media screen and (max-width: 943px) {
  #slogan {
    margin-top: 10px;
  }

  .flex-item {
    margin-left: 0;
    margin-right: 0;
  }

  .navigation {
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  }

  .navigation li {
    margin-left: 0;
    margin-bottom: 0;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-baguett {
    flex-direction: column;
  }

  .flex-img-baguett,
  .flex-txt-baguett {
    width: 100%;
  }

  .flex-cards .card {
    margin: 1px !important;
    width: 100% !important;
  }

  .flex-txt-team {
    width: 100%;
    font-size: 1.2em;
  }

  .social-icons {
    text-align: center;
  }

  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
}

@media screen and (max-width: 700px) {
  .flex-txt-baguett> :first-child {
    display: none;
  }

  .flex-cards .card {
    margin: 0 !important;
    width: 100% !important;
  }

  .flex-cards {
    flex-direction: column;
  }
}