@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Quicksand:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
  margin: 20px 40px;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
}

header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

main {
  margin-top: 20px; 
}

#slogan {
  font-family: Pacifico, sans-serif;
  font-size: 2.1em;
  font-style: italic;
  font-weight: 100;
  color: #808080;
}

h1,
h2,
h3 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-item {
  margin-left: 50px; 
}

.navigation {
  font-family: Oswald;
  font-size: 1.6em;
  font-weight: 400;
  color: #a68370;
  list-style-type: none;
  display: flex;
  margin-bottom: 0%;
}

.navigation li {
  margin-right: 50px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  color: #f9a55a;
  font-weight: 500;
}

.active {
  color: #f9a55a;
  font-weight: 500;
}

/* main */

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0px;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

/* footer */

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer-logo img {
  height: 100px;
}

.footer-address p {
  margin-bottom: 8px; /* Add spacing between lines */
}

.footer-copyright {
  color: #6c757d;
}

.social-icons a {
  color: #495057;
  margin-right: 15px; /* Add spacing between icons */
}

.social-icons a:hover {
  color: #007bff; /* Adjust hover color */
}

@media screen and (max-width:943px) {
  #slogan {
    margin-top: 10px;
    /* display: none; */
  }
  .flex-item {
    margin-left: 0px; 
  }
  .navigation {
    flex-direction: row;
    justify-content: left; 
    margin-top: 5px;
  }
  .navigation li {
    margin-left: 0px; 
    margin-bottom: 0; 
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  } 
  .social-icons {
    text-align: center;
  }

  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
}